@import "../../styles/variables.scss";

.productContainer {
  display: flex;
  width: 1000px;

  .left {
    background-color: $itemColor;
    width: 100%;

    .imageContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 500px;
      img {
        width: 400px;
        height: 400px;
      }
    }
  }

  .right {
    padding: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    position: relative;

    .exit {
      position: absolute;
      border: 1px black solid;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -10px;
      right: -10px;
      font-size: 25px;
      font-weight: bold;
      background-color: white;
      transition: 0.3s ease all;
      cursor: pointer;

      &:hover {
        background-color: red;
        border: white 1px solid;
        color: white;
      }
    }

    .titleContainer {
      padding: 5px;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      .title {
        width: 100%;
        text-align: center;
        justify-self: center;
        font-size: 45px;
      }
    }

    .sizeContainer {
      display: flex;
      flex-direction: column;
      text-align: start;
      margin: 10px 0;

      h1 {
        font-size: 20px;
      }
      div {
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        width: 100%;
      }

      h4 {
        margin-right: 5px;
        height: 30px;
        width: 50px;
        border: 1px black solid;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        transition: 0.5s ease all;

        &:focus {
          background-color: map-get($indigo, indigo800);
          color: white;
          border-color: white;
        }

        &:hover {
          background-color: map-get($indigo, indigo800);
          color: white;
          border-color: white;
        }
      }
    }

    .colorContainer {
      display: flex;
      flex-direction: column;
      text-align: start;

      h1 {
        font-size: 20px;
      }

      div {
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        width: 100%;
      }

      .color {
        margin-right: 5px;
        height: 30px;
        width: 30px;
        border: 1px black solid;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        font-weight: bold;
        transition: 0.5s ease all;
      }

      .White {
        background-color: white;
      }
      .Yellow {
        background-color: #f49b07;
      }
      .Green {
        background-color: #005a08;
      }
      .Pink {
        background-color: #fa16ce;
      }
      .Red {
        background-color: #f90707;
      }
      .Black {
        background-color: #000000;
      }
      .Grey {
        background-color: #555555;
      }
      .Blue {
        background-color: #001b70;
      }
    }

    .priceContainer {
      font-size: 20px;
    }

    .btnContainer {
      justify-self: flex-end;
      align-self: flex-end;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      .btn {
        border: 1px white solid;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        font-size: 20px;
        border-radius: 10px;
        background-color: map-get($emerald, emerald800);
        color: white;
        letter-spacing: 1px;
        font-weight: bold;
        transition: 0.3s opacity ease;

        &:hover {
          opacity: 80%;
          background-color: map-get($emerald, emerald700);
          cursor: pointer;
        }
      }
    }
  }
}
