@import "../../styles/variables.scss";

.cartContainer {
  //   border: 1px black solid;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .disabled {
    background-color: gray;
    color: white;
    cursor: pointer;
    pointer-events: none;
  }

  .enabled {
    cursor: pointer;
    background-color: green;
    color: white;
  }

  div {
    padding: 5px 15px;
    display: flex;
    width: 120px;
    justify-content: space-between;
    border: 1px white solid;
    border-radius: $borderRadius;
    align-items: center;
    transition: 0.3s ease all;

    svg {
      width: 25px;
      height: 25px;
    }

    &:hover {
      background-color: rgb(2, 100, 2);
    }
  }
}
