@import "./../../styles/variables.scss";

.grid {
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 97%;
}

.gridItems {
  display: grid;
  column-gap: 50px;
  row-gap: 30px;
  width: 100%;
  justify-items: center;
  grid-template-rows: repeat(1, auto);

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, auto);
  }
  @include breakpoint(md) {
    grid-template-columns: repeat(3, auto);
  }
  @include breakpoint(l) {
    grid-template-columns: repeat(4, auto);
  }
  @include breakpoint(xl) {
    grid-template-columns: repeat(5, auto);
  }
  @include breakpoint(xxl) {
    grid-template-columns: repeat(6, auto);
  }
  @include breakpoint(w) {
    grid-template-columns: repeat(7, auto);
  }
  @include breakpoint(uw) {
    grid-template-columns: repeat(8, auto);
  }
}
