@import "./../../styles/variables.scss";

.newsWrapper {
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 97%;
}

.grid {
  display: grid;
  column-gap: 50px;
  row-gap: 30px;
  grid-template-rows: repeat(1, auto);

  @include breakpoint(sm) {
    grid-template-columns: repeat(1, auto);
  }

  @include breakpoint(md) {
    grid-template-columns: repeat(2, auto);
  }
  @include breakpoint(lg) {
    grid-template-columns: repeat(3, auto);
  }

  @include breakpoint(xl) {
    grid-template-columns: repeat(4, auto);
  }
}
