@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

//fonts

$quicksand: "Quicksand", sans-serif;

$navbar: rgb(207 201 192);
$itemColor: #eae7e4;

$emerald: (
  emerald500: #10b981,
  emerald600: #059669,
  emerald700: #047857,
  emerald800: #065f46,
  emerald900: #064e3b,
);

$indigo: (
  indigo500: #6366f1,
  indigo600: #4f46e5,
  indigo700: #4338ca,
  indigo800: #3730a3,
  indigo900: #312e81,
);

$slate: (
  slate50: #f8fafc,
  slate100: #f1f5f9,
  slate200: #e2e8f0,
  slate300: #cbd5e1,
  slate400: #94a3b8,
  slate500: #64748b,
  slate600: #475569,
  slate700: #334155,
  slate800: #1e293b,
  slate900: #0f172a,
);

$amber: (
  amber50: #fffbeb,
  amber100: #fef3c7,
  amber200: #fde68a,
  amber300: #fcd34d,
  amber400: #fbbf24,
  amber500: #f59e0b,
  amber600: #d97706,
  amber700: #b45309,
  amber800: #92400e,
  amber900: #78350f,
);

$pink: (
  pink50: #fdf2f8,
  pink100: #fce7f3,
  pink200: #fbcfe8,
  pink300: #f9a8d4,
  pink400: #f472b6,
  pink500: #ec4899,
  pink600: #db2777,
  pink700: #be185d,
  pink800: #9d174d,
  pink900: #831843,
);

$rose: (
  rose50: #fff1f2,
  rose100: #ffe4e6,
  rose200: #fecdd3,
  rose300: #fda4af,
  rose400: #fb7185,
  rose500: #f43f5e,
  rose600: #e11d48,
  rose700: #be123c,
  rose800: #9f1239,
  rose900: #881337,
);

//border-radius

$borderRadius: 7px;

//letter spacing

$letterSpacing: 0.5px;

//spacing

$spacing-sm: 12px;
$spacing-md: 24px;
$spacing-lg: 42px;
$spacing-xl: 64px;

//heights

$headerHeight: 90px;

//box shadow
$boxShadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
  0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
  0 16px 16px rgba(0, 0, 0, 0.05);

//breakpoint

@mixin breakpoint($point) {
  @if $point == xxl {
    //1440px
    @media (min-width: 156.25em) {
      @content;
    }
  } @else if $point == xl {
    //1024px
    @media (min-width: 133em) {
      @content;
    }
  } @else if $point == l {
    //1024px
    @media (min-width: 115em) {
      @content;
    }
  } @else if $point == lg {
    //1024px
    @media (min-width: 80em) {
      @content;
    }
  } @else if $point == md {
    //768px
    @media (min-width: 60em) {
      @content;
    }
  } @else if $point == md-only {
    //767px
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == sm {
    //600px
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point == sm-only {
    //599px
    @media (max-width: 599px) {
      @content;
    }
  }
}
